@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark*));

/* Apply custom font globally */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

/* Define theme variables */
@theme{
  --color-primary:#5044E5;
}
 html {
  background-color: white;
}
html.dark {
  background-color: #121212;  
}